<section ng-controller='ChatsController as chats' ui-view>
  <div id="messages-box">
    <ul id="messages">
      <li ng-repeat="chat in chats.messages">
        <h4>{{ chat }}</h4>
      </li>
    </ul>
  </div>
  <form id="form" ng-submit='chats.sendMessage()'>
    <input type="text" ng-model="chats.message">
    <button type="submit" value="Text">
  </form>
</section>

<!-- <section ng-controller='ChatsController as chats' ui-view>
  <form id="form" action="">
    <input id="m" autocomplete="off" placeholder="Input Message Here"/><button ng-click="chats.submit">Send</button>
  </form>
</section> -->

<section ng-controller='UsersController as users' ui-view>
  <div id="user-list-box">
    <ul id="user-list">
      <li style="text-decoration: underline; font-weight: bold; color: black">Users Connected:</li>
      <li ng-repeat="user in users.all" data-id="{{user._id}}">
        <strong>{{user.username}}</strong>
      </li>
    </ul>
  </div>
</section>
